:root{
  --color-text: #000;
  --color-purple: #370c69;
  --color-bblue: #2c2866;
  --color-blue: #234563;
  --color-bgreen: #195f61;
  --color-green: #146f5f;
  --color-lgreen: #0a8b5c;
  --color-red: #ff666694;
  --color-red-hover: #ff6666;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #05452E;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #086A47;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid  #05452E;  /* creates padding around scroll thumb */
}

.logo-card{
  width: 400px;
}

.btn{
  color: var(--color-text);
  font-weight: 700;
}

.btn:hover{
  background-color: var(--color-green);
}

*{
  color: var(--color-text);
}

body {
  background-image: linear-gradient(to right, var(--color-purple), var(--color-bblue), var(--color-blue), var(--color-bgreen), var(--color-green), var(--color-lgreen));
}

.form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-login{
  width: 90vh;
  text-align: center;
}

.card-form{
  padding: 5vh;
  background-color: #ffffff80; /* cor de fundo translúcida */
  border-radius: 15px; /* arredondar as bordas */
  box-shadow: 0px 0px 20px #ffffff80; /* adicionar sombra */
}

.toast, .navbar, .dropdown-menu, .card{
  background-color: #ffffff80 !important;
  box-shadow: 0px 0px 20px #ffffff80;
  --bs-dropdown-link-color: var(--bs-navbar-color) !important;
}

.modal-content{
  box-shadow: 0px 0px 20px #ffffff80;
}

.toast-header{
  background-color: transparent !important;
}

.logo-card{
  width: 40vh;
  margin-right: 1vh;
}

#DeslogaUser{
  color: var(--color-red);
}

#DeslogaUser:hover{
  color: var(--color-red-hover);
}

.card-backlog{
  background-color: #cecece !important;
  border-radius: 15px;
  text-align: center;
  padding: 1vh;
  cursor: pointer;
  transition: all 0.3s;
}

.card-backlog:hover{
  background-color: #ffffff !important;
  transform: scale(1.02);
}