:root{
  --color-text: #000;
  --color-bblue: #2c2866;
  --color-blue: #234563;
  --color-bgreen: #195f61;
  --color-green: #146f5f;
  --color-lgreen: #0a8b5c;
  --color-red: #ff0000b2;
  --color-red-hover: #ff0000;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #05452E;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #086A47;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid  #05452E;  /* creates padding around scroll thumb */
}


.button-login{
  background-image: linear-gradient(to right, var(--color-bgreen), var(--color-lgreen));
  width: 65vh;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 14pt;
  transition: all 0.3s;
}

.button-login:hover{
  color: #fff;
  transform: scale(1.02);
}

*{
  color: var(--color-text);
}

body {
  background-image: url('../image/sea-background.jpg');
  /* background-image: linear-gradient(to right, var(--color-bblue), var(--color-blue), var(--color-bgreen), var(--color-green)); */
  background-size: cover;
  background-position: center center;
}

.form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-login input {
  background-color: #ffffffb4;
  border-radius: 15px;
  border: none;
  padding: 1.5vh;
}

.card-login{
  width: 90vh;
  text-align: center;
}

.card-form{
  padding: 5vh;
  background-color: #ffffff80; /* cor de fundo translúcida */
  border-radius: 15px; /* arredondar as bordas */
  box-shadow: 0px 0px 20px #ffffff80; /* adicionar sombra */
}

.toast-header{
  background-color: transparent !important;
}

.logo-card{
  width: 61vh;
  margin-bottom: 5vh;
}

#DeslogaUser{
  color: var(--color-red);
}

#DeslogaUser:hover{
  color: var(--color-red-hover);
}

.card-backlog{
  background-color: #e2e2e2 !important;
  border-radius: 15px;
  text-align: center;
  padding: 1vh;
  cursor: pointer;
  transition: all 0.3s;
}

.card-sias{
  background-color: #ffffff88 !important;
}

.card-backlog:hover{
  background-color: #ccc !important;
  transform: scale(1.02);
}

.offcanvas{
  --bs-offcanvas-width: 65vh !important;
}

.navbar{
  background-color: #ffffff80;
}